@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik:wght@300&display=swap');

.event-section-name {
    height: 24em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(163,200,128), rgba(218,221,231));
    
    
}

.first-line{
    font-family: "Rubik";
    font-size:1.2rem;
    margin-bottom: 0;
    margin-top: 1.4rem;
    color: white;
    font-weight: 550;
}
.header{
    color: white;
    font-family: "Rubik";
    font-size: 4rem;
    margin-top: 0;
    font-weight: 500;
}

.event-info{
    color: white;
    font-family: "Rubik";
    font-size:1.7rem;
    margin-bottom: 2rem;
    font-weight: 550;
}

.event-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 3rem;
}