@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik:wght@300&display=swap');

.homepage-banner{
    height: 30rem;
    min-width: 100vw;
    background-size: cover;
    background-image: url('../Images/homepage-banner.png')
}

.homepage-banner-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', Courier, monospace;
    color: white;
    font-weight: bolder;
}

.btn-div{
    font-family: 'Avenir', 'Rubik', Geneva, Verdana, sans-serif;
}

.event-title{

    font-size: 17px;

}
.event-title-des{
    font-family: 'Playfair Display';
    font-size: 77px;
}

.event-date{
    font-size: 17px;
    margin-bottom: 20px;
}
.homepage-btn{
    background-color: #7FA88B;
    border: 0;
    margin-right: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding: 0.8rem;
    width: 156px;

}

@media (max-width: 500px) {


    .homepage-banner-text{
        text-align:center;

    }

    .btn-div{
        display: flex;
        flex-direction: column;
    }
    
    .event-title{
    font-size: 12px;
    }

    .event-title-des{
    
    font-size: 35px;
    }

    .homepage-btn{
        font-size: 12px;
        margin-top: 10px;
    }
}
